@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/
	.navbar-nav
		width: 100%
		li
			&:nth-child(3n)
				float: right
	.navbar-right
		text-align: center
		li
			
			float: none
			display: inline-block
			&:nth-child(3n)
				float: none
			a
				padding: 0px
				display: inline
		.shop-btn, .search-btn
			display: inline-block
			.badge
	.header-main .navbar-right li .search-btn .fa, .header-main .navbar-right li .shop-btn .fa, .header-others .navbar-right li .search-btn .fa, .header-others .navbar-right li .shop-btn .fa
		top: 30%		
	footer .first-row ul li
		padding-left: 15px
	footer .second-row ul li
		&:last-child
			padding-right: 0px
	// others
	.header-others
		.navbar-default
			background: url(../img/bg-others-nav.png) no-repeat 0px top
			background-size: 545px 200px
	.item-good-catalog 
		.price
			padding-bottom: 24px
		.old-price
			top: 55%
	.filter-blc
		.more-filter-1 
			.input-group 
				input
					width: 42.5%
		
	
		/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/**/
	.section-3
		h2
			padding-top: 50px
			font-family: $helvBold
			font-size: 25px
		p
			&:last-child
				padding-bottom: 50px
	footer .first-row ul
		margin-left: -40px
		padding-top: 10px
		float: left
	footer .first-row ul li
		float: left
		display: block
		width: 100%
		padding-left: 0px
	footer .second-row ul
		margin-left: -40px
	.filter-blc
		.more-filter-1 
			.input-group
				input
					width: 46.5%
		.memory-blc
			text-align: center
			padding-bottom: 20px
	.card-blc 
		.card-blc-footer 
			
			.input-group
				padding-left: 20px 
				padding-right: 20px
				width: 100%
				padding-top: 10px
			.name-input
				padding-right: 55px
				label
					padding-left: 20px
					display: block
			.check-blc
				padding-left: 30px
				padding-top: 20px

/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	/**/
	.navbar-nav
		width: auto
	.header-main, .header-others
		.navbar-right
			text-align: center
			li
				display: block
				padding-right: 0px
				a
					padding: 10px
					display: block
				.badge
					top: -35px
			.shop-btn, .search-btn
				display: inline-block

	.header-main .navbar-right li .search-btn .fa, .header-main .navbar-right li .shop-btn .fa, 	.header-others .navbar-right li .search-btn .fa, .header-others .navbar-right li .shop-btn .fa
		top: 30%			
	.header-main .navbar-right li:nth-child(5),.navbar-right li:nth-child(3n), .header-others .navbar-right li:nth-child(5),.navbar-right li:nth-child(3n)
		display: inline	
	.section-3
		img
			padding-top: 20px
	.pos-abs-to-bottom
		position: relative	
	.section-4 .pos-rel
		+clearfix
		height: auto
	// others
	.header-others
		.navbar-default
			padding-bottom: 0px
			background: url(../img/bg-others-nav.png) no-repeat 0px top
			background-size: 245px 52px
	.section-1-contacts
		.wrapper-adress-blc, .wrapper-time-blc
			float: none 
			padding: 0px
		.wrapper-adress-blc
			margin-bottom: 20px
			padding-bottom: 20px
			border-bottom: 1px solid #777777
			.wrapper-adress
				padding-bottom: 20px
	// delivery
	.filter-blc 
		.filter-good 
			.pos-abs-to-bottom
				position: absolute
		.more-filter-1 
			.input-group
				input
					width: 44.5%
		
				
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/
	.header-section
		padding-top: 50px
	.header-section h2,
		font-size: 40px
	.header-section h1
		font-size: 80px
	.header-section p
		font-size: 20px
	.header-section .btn
		margin-top: 20px
	.section-3
		h2
			line-height: normal
	.section-4
		h3
			font-size: 30px
	 
	.section-4 .pos-rel
		+clearfix
		height: 180px
	.section-2-delivery
			.section-2-wrapper
				.wrapper-tab
					.tabs-control
						text-align: center
						a
							width: 100%
							display: block
	.section-1-catalog
		h2
			font-size: 70px
		h3
			font-size: 40px
	.filter-blc 
		.more-filter-1 
				.input-group
					input
						width: 40.5%
		.drop-down-filter 
			.drop-down-filter-contorl 
				a
					display: block
					width: 70%
					border: none
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

