@import "fonts"
@import "libs"
@import "vars"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	opacity: 1

.img-responsive
	display: block
	max-width: 100%
	height: auto

// header
header
	background: #000
	.tel-blc
		text-align: right
		padding-right: 130px
		padding-top: 20px
		a
			color: #e9e9ea
			font-family: $helvBold
			font-size: 14px
			font-weight: 700
			text-transform: uppercase
	.navbar
		background: #000
		.fa
			width: 16px
			height: 10px
			opacity: 0.7
		img[src*=Menu-Icon]
			width: 45px
			height: 45px
			
		img[src*=logo]
			width: 139px
			height: 51px
			margin-left: 80px
			margin-top: -15px
		.nav
			.social-icons-navbar
				padding-top: 10px
				a
					display: inline
					padding: 0px
					padding-right: 10px
					&:last-child
						padding-right: 40px
		.dropdown-toggle
			color: #e9e9ea
			font-family: $helvMedium
			font-size: 15px
			font-weight: 500
			text-transform: uppercase
			padding-right: 75px
			img
				margin-right: 10px
	.navbar-right
		li
			padding-right: 30px
			&:nth-child(5)
				padding-right: 10px
			&:last-child
				padding-right: 0px
			a
				padding-left: 0px
				padding-right: 0px
			.shop-btn, .search-btn
				position: relative
				width: 45px
				height: 45px
				background-color: #3f4044
				border-radius: 23px
				&:hover
					background-color: #e6e6e6
					color: $accent-orange
				.fa
					opacity: 1
					font-size: 18px
					position: absolute
					left: 31%

.navbar-default .navbar-nav>li>a
	color: #e9e9ea
	font-size: 13px
	font-weight: 400

// end header


@import "media" // Всегда в конце
